# Just for the berfarah/dotfiles repo

# Ignore working files for nvim
/home/.config/nvim/swap/*
/home/.config/nvim/backup/*
/home/.config/nvim/undo/*
/home/.config/nvim/sessions/*
/home/.config/nvim/plugged/
/home/.config/nvim/autoload/
/home/.config/nvim/.init.vim-rplugin~
/home/.config/nvim/.netrwhist


# Ignore some configs
/home/.config/.mono
/home/.config/codeclimate
/home/.config/configstore
/home/.config/hub
/home/.config/karabiner/assets
/home/.config/ranger
/home/.config/yarn
/home/.config/htop
/home/.config/coc
/home/.config/direnv

# Ignore secrets
/home/.config/zsh/secrets.sh

!.keep
