# Just for the berfarah/dotfiles repo

# Ignore contents of .oh-my-zsh
/.oh-my-zsh/*
!/.oh-my-zsh/custom

# Ignore working files for nvim
/.config/nvim/swap/*
/.config/nvim/backup/*
/.config/nvim/undo/*
/.config/nvim/sessions/*
/.config/nvim/plugged/
/.config/nvim/autoload/
/.config/nvim/.init.vim-rplugin~
/.config/nvim/.netrwhist

# Ignore ember working files
/.config/configstore/ember-cli*

# Ignore ranger working files
/.config/ranger/*

# Ignore work.sh
/.config/zsh/work.sh

# Ignore github credentials
/.config/hub

/.config/yarn/global/
/.config/configstore/

!.keep

/node_modules
