# Just for the berfarah/dotfiles repo

# Ignore working files for nvim
/home/.config/nvim/swap/*
/home/.config/nvim/backup/*
/home/.config/nvim/undo/*
/home/.config/nvim/sessions/*
/home/.config/nvim/.netrwhist

# Ignore some configs
/home/.config/.mono
/home/.config/codeclimate
/home/.config/configstore
/home/.config/karabiner/assets
/home/.config/karabiner/automatic_backups/
/home/.config/yarn
/home/.config/htop
/home/.config/cagent
/home/.config/raycast

# Ignore secrets
/home/.config/zsh/secrets.sh

!.keep
